body{

}
.top{
    background: #1B7CAD;
    width: 100%;
    height: 100px;
}
.back{
    height: 100%;
    width: 100%;
}
.logo {
    font-weight: bold;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    width:115px;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 16px;
    margin: 6px 20px;
    text-decoration: none;
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    background-color: rgb( 27, 124, 173 );
    border: 1px solid rgb( 20, 91, 127 );
}
a.logo:hover {
    background-color: rgb( 82, 164, 206 );
}

.logo2 {
    font-size: 27px;
    padding-top: 7px;
    margin-left: 25px;
    font-weight: bold;
    color: #fff;

}
.lower {
    width: 100%;
    height: 50%;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
}
.tab {
    width: 50%;
    vertical-align: middle;
    font-size: 24px;
}
.menu {
    width: 50%;
    vertical-align: middle;
    font-size: 24px;
    color: #fff;
}
.rules {
    text-align: left;
    margin: 10px;
}
.last {
    font-size: 24px;
    float:right;
    color: #fff;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.Goods {
    float: left;
    width: 100%;
    margin: 15px 0%;

    /* border-width: 0px 0px 5px 0px ;  top right bottom left */
    /* border-style: solid ; */
    border-color: #cae8ff ;

    display: grid;
    place-items: center;

}
h1 {
    text-align: center;
}
.left {
    position: absolute;
}
.right {
    text-align: right;
}
li {
  list-style-type: none;

}
.table2 {
    float:right;
    margin: 0px;
}
a.btn{
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
color: #fff;
display: inline-block;
width:115px;
font-size: 24px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
padding: 8px 16px;
margin: 20px auto;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: background-color 0.1s linear;
-moz-transition: background-color 0.1s linear;
-o-transition: background-color 0.1s linear;
transition: background-color 0.1s linear;
background-color: rgb( 27, 124, 173 );
border: 1px solid rgb( 20, 91, 127 );
}

a.btn:hover {
background-color: rgb( 82, 164, 206 );
}

button.btn2{
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
color: #fff;
display:block;
width:auto;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
padding: 8px 16px;
margin: 20px auto;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: background-color 0.1s linear;
-moz-transition: background-color 0.1s linear;
-o-transition: background-color 0.1s linear;
transition: background-color 0.1s linear;
background-color: rgb( 27, 124, 173 );
border: 1px solid rgb( 20, 91, 127 );
}

button.btn2:hover {
background-color: rgb( 82, 164, 206 );
}
a.btn3{
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
color: #fff;
width:115px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
padding: 8px 16px;
margin: 20px auto;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: background-color 0.1s linear;
-moz-transition: background-color 0.1s linear;
-o-transition: background-color 0.1s linear;
transition: background-color 0.1s linear;
background-color: rgb( 27, 124, 173 );
border: 1px solid rgb( 20, 91, 127 );
}

a.btn3:hover {
background-color: rgb( 82, 164, 206 );
}

.form {
   width:100%;
}

.goods {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-size: 1.7rem;
  letter-spacing: 1px;
}

.headTable {
  background-color: rgb(228 240 245);
}

.TH,
.TD {
  border: 3px solid rgb(160 160 160);
  padding: 8px 10px;
}

.td:last-of-type {
  text-align: center;
}

.bodyTable > TR:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

.TH {
  text-align: right;
  font-weight: bold;
}

.TD {
  font-weight: normal;
}
.form_user {
    display: grid;
    place-items: center;
}
.form_content {
    padding-top: 27px;
    font-size: 1.7rem;
    background-color: #e3f5ff;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 50px;
}
.form_title {
    margin-top: 15px;
    font-size: 1.7rem;
}
.form_forms_p {
    margin-top: 15px;
    font-size: 1.7rem;
    text-align: center;
}
.review {
    float: left;
    overflow:auto;
    width: 31vw;
    margin-top: 15px;
    margin-left: 30px;
    font-size: 1.7rem;
    background-color: #e3f5ff;
    border-radius: 20px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px
}
.enter_or_reg{
    font-size: 1.7rem;
    display: grid;
    place-items: center;
}