{% extends 'main/layout.html' %}

{% block title %}
    main
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}

                <div class = 'Goods'>

                    <table class = 'goods'>
                      <thead class = 'headTable'>
                        <tr class = 'TR'>
                          <th class = 'TH'>Название</th>
                          <th class = 'TH'>Количество</th>
                          <th class = 'TH'>Состояние</th>
                        </tr>
                      </thead>
                      <tbody class = 'bodyTable' >
                      {% for el in Items %}
                        <tr class = 'TR'>
                          <th class = 'TH'><p><pre> {{el.goods| safe}}</pre></p></th>
                          <td class = 'TD'><p><pre> {{el.count| safe}}</pre></p></td>
                          <td class = 'TD'><p><pre> {{el.condition| safe}}</pre></p></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
    {% else %}

        <p class = 'enter_or_reg'>Войдите или зарегистрируйтесь</p>

    {% endif %}
{% endblock %}