{% extends 'main/layout.html' %}

{% block title %}
    Главная
{% endblock %}

{% block script %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block content %}

                    <form action="{% url 'main' %}" method="post">
                        {% csrf_token %}
                        <p><label for="{{ form.url.id_for_label }}"> {{form.url.label}}:</label> {{ form.url}}</p>
                        <div>{{ form.url.errors}}</div>
                        <button class="btn" type="submit">
                            Поиск
                        </button>
                    </form>
                {{data}}

{% endblock %}