{% extends 'admin/admin-layout.html' %}

{% block title %}
    Редактирование инвентаря
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

{% endblock %}

{% block content %}
    <div class="admin-form-edit-inventory">
        <h1>Редактирование инвентаря</h1>
        <div class="form_admin">
            <form method="post" class="form_content">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class = 'btn2'>Добавить</button>
            </form>
        </div>
        <div class="container mt-5">

                    <table  class="table table-striped">
                      <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Количество</th>
                            <th>Состояние</th>
                            <th>Изменить</th>
                            <th>Удалить</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for el in g %}
                        <tr>
                            <td> {{ forloop.counter }}</td>
                            <td> {{el.goods}}</td>
                            <td> {{el.count}}</td>
                            <td> {{el.condition}}</td>
                            <td><a class="btn_r" href="{{el.get_absolute_url}}">Изменить</a></td>
                            <td><button class="btn_r" href="{{el.get_absolute_url_del}}" onclick="confirm_delete();">Удалить</button></td>
                        </tr>
                        {% endfor %}
                    </table>

                    <script>
                        document.getElementsByClassName('btn_r').onclick = confirm_delete;
                        function confirm_delete(){
                            var r = confirm("Вы действительно хотите безвозвратно удалить эти данные?");
                            if (r == true) {
                            {% for el in g %}
                                window.location.href="{{ el.get_absolute_url_del }}"
                            {% endfor %}
                            }
                        }

                    </script>

        </div>


        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
        <script>
            flatpickr('.flatpickr', {
                enableTime: false, // Если нужно выбирать время
                dateFormat: "Y-m-d", // Формат даты
                locale: "ru" // Локализация
            });
        </script>

    </div>
{% endblock %}