{% extends 'admin/admin-layout.html' %}

{% block title %}
    Главная
{% endblock %}

{% block script %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}

            <div class="container mt-5">

                    <table  class="table table-striped">
                      <thead>
                        <tr>

                            <th>Имя</th>
                            <th>Предмет</th>
                            <th>Количество</th>
                            <th>Статус</th>
                            <th>Одобрить</th>
                            <th>Отклонить</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for el in a %}
                        <tr>
                            <td> {{el.username}}</td>
                            <td> {{el.Request}}</td>
                            <td> {{el.Request_count}}</td>
                            <td> {{el.Status}}</td>
                            <td><a class="btn_r" href="{{el.get_absolute_url_give}}">Одобрить</a></td>
                            <td><a class="btn_r" href="{{el.get_absolute_url_return}}">Отклонить</a></td>
                        </tr>
                        {% endfor %}
                    </table>
        </div>


    {% else %}

        <p class = 'enter_or_reg'>Войдите или зарегистрируйтесь</p>

    {% endif %}
{% endblock %}