{% extends 'main/layout.html' %}

{% block title %}
    Main
{% endblock %}

{% block content %}
               {% if request.user.is_authenticated %}
                <div class = 'art'>
                    <p><pre > Форма подачи заявки на получение инвентаря</pre></p>
                    <form action="{% url 'application' %}" method="post">
                        {% csrf_token %}
                        <p><label for="{{ form.username.id_for_label }}"> Имя:</label> {{form.username}}</p>
                        <div>{{ form.User.errors}}</div>
                        <p><label for="{{ form.Request.id_for_label }}"> Предмет:</label> {{ form.Request}}</p>
                        <div>{{ form.Request.errors}}</div>
                        <p><label for="{{ form.Request_count.id_for_label }}"> Количество:</label> {{ form.Request_count}}</p>
                        <div>{{ form.Request_count.errors}}</div>

                        <button class="btn2" type="submit">
                            Добавить
                        </button>

                        <script>

                            if ({{ error }}) {
                                  window.onload = function() {
                                        alert('Слишком много');
                                   };
                            }

                        </script>

                    </form>
                    <p><pre > Ваши заявки</pre></p>
                    {% for el in r %}
                        <div class = 'review'>

                            <div class="tit"><p><pre > Имя: {{el.username}} </pre></p></div>
                            <p><pre > Предмет: {{el.Request}} </pre></p>
                            <p><pre > Количество: {{el.Request_count}} </pre></p>
                            <p><pre > Статус: {{el.Status}} </pre></p>
                        </div>

                    {% endfor %}
                </div>
                {% endif %}
{% endblock %}